@font-face {
  font-family: gliven;
  src: url('../../Fonts/gliven.ttf');
}
.none{
  display: none;
}
.navbar{
  position: fixed;
  left: 0;
  height: 100vh;
  width: 50%;
  background: #808080;
  z-index: 2;
  animation: 1.2s slide forwards ;
}

@keyframes slide {
  0%{
    left:-50%;
  }
  100%{
    left: 0;
  }
}

ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding:0;
  list-style: none;
  font-size: 23px;
  font-weight: 600;
  margin-top: 30px;
  gap: 20px;
}

li{
  font-family:'Times New Roman', Times, serif;
  padding: 10px;
  letter-spacing: 3px;

}
.link{
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

.link:active{
  scale: 120%;
}