@font-face {
  font-family: gliven;
  src: url(../Fonts/2DF.ttf);
}


@media screen and (max-width: 412px) {
  
  .header{
    position: fixed;
    top: 0;
    height: 6rem;
    width: 100%;
    display: flex;
    background-color: black;
    overflow: hidden;
    z-index: 2;
  }
  .Menu_icon{
    height: 4rem;
    filter: invert(100%);
    position: relative;
    top: 50%;
    left: 2%;
    transform: translate(0%,-50%);
  }
  .search_bar{
    position: relative;
    height: 4rem;
    width: 40%;   
    display: flex;
    background-color: white;
    top: 50%;
    left: 10%;
    transform: translate(0%,-50%);
    overflow: hidden;
  }

  .sr_si{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid;
    overflow: hidden;
  }
  .sr_search_icon{
    height: 2.5rem;
    margin: auto;
  }
  .sr_in{
    height: 100%;
    width: 70%;
  }
  .input_search_bar{
    outline: none;
    border: 0px;
    font-size:2rem;
    height: 100%;
    width: 100%;
    background-color: white;
  }
  .profile_icon{
    position: relative;
    top: 50%;
    left: 15%;
    transform: translate(0%,-50%);
    filter: invert(100%);
    height: 4.5rem;
    
  }
  .none{
    display: none;
  }
  .slider{
    position: fixed;
    margin-top: 6rem;
    height: 100%;
    width: 45vw;
    background-color: rgb(71, 71, 71);
    animation: slider 1.3s; 
  }
  @keyframes slider {
    0%{
      left: -45vw;
    }
    100%{
      left: 0rem;
    }
  }
  .slider_text{
    padding-top: 10px;
    font-size: 1.6rem;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(224, 168, 130);
    font-family: gliven;
    text-decoration: none;
  }
  .Count{
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
    color: red;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 16px;
    font-weight: bolder;
    position: relative;
    top: 1rem;
    left: 2rem;
    
  }
  
  
}