@media screen and (max-width: 412px) {
  body{
    background-color: rgb(199, 199, 199);

  }
  .Voucher_Div{
    position: relative;
    top: 7rem;
    height: 10rem;
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
  }
  .voucher{
    position: relative;
    left: 50%;
    top: 50%;
    height: 100%;
    width: 97%;
    transform: translate(-50%,-50%);
  }
  hr{
    position: absolute;
    border: 5px solid;
    box-sizing: border-box;
    top:50%;
    z-index:0;
    left: 0;
    right: 0;
    transform: translate(0%,-50%);
  }
  .Claim_btn{
    position: relative;
    top: 7rem;
    left: 50%;
    transform: translate(-50%);
    height: 2rem;
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid;
    border-radius: 10px;
    letter-spacing: 2px;
  }
  .none{
    display: none;
  }
}